<div>
  <div class="jumbotron text-center">
    <p class="lead">My Items</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>Items List</h4>
        <app-item-list
          [items]="items | async" (selected)="selectItem($event)" (deleted)="deleteItem($event)"></app-item-list>
      </div>

      <div class="col-lg-6">
        <h4>Item Detail</h4>
        <app-item-detail selectedItem="selectedItem"></app-item-detail>
      </div>
    </div>
  </div>

  <hr>

</div>
